[Unit]
Description=Booki API
After=network.target userspanel-api.service

[Service]
Type=simple
WorkingDirectory=/opt/robo
EnvironmentFile=-/etc/robo/env.production
Environment=APP_PORT=9095
ExecStart=/opt/robo/bin/booki-server
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
